<html>
<head><style>
	body{
		background-image:url(https://t4.ftcdn.net/jpg/05/92/55/69/360_F_592556978_kjSRWXDGJSTosZIN4GcMwJIiNHDaqiPM.jpg);
		background-repeat:no-repeat;
		background-size:cover;
		
		 
	}
		button{
			background-color:lightseagreen;
			width:300px;
			height:100px;
			font-size:40px;
			font-family: cursive;

		}
		button:hover{
			cursor:pointer;

		}
		button:visited{
			background-color:blue;
		}

</style></head>
<body>
	
	<br><br>
	<center>
	<form action="/register/">
		<br><br><br><br><br><br><br><br><br><br><br><button>Home Page</button>
	</form></center>
	</body>
</html>