<html>
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap" rel="stylesheet">
	<style>
		body{
			
			background-color: lightyellow;


		}
		form{
			background-color:gold;
			border:5px solid orange;
			width:600px;
			height:450px;
			font-size:30px;
			font-family: 'Dancing Script', cursive;
		}
		button{
			background-color: white;
			width:100px;
			font-size:30px;
			width:130px;

		}
		button:hover{
			cursor:pointer;
			border: 2px solid red;

		}
		button:visited{
			background-color: green;
		}


		
	</style>
	</head>
<body><br><br><br><br><br>
	<center>
	<form action="/savedata/">
		<h1> New Book Registration</h1>
		Book Name:-<input type="text" name="bname"><br><br>
		Book Author:-<input type="text" name="bauthor"><br><br>
		Book price:-<input type="number" name="bprice"><br><br>
		<button>Submit</button>
	</form></center>
</body>
</html>